<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVClusterCompareTimestamp</key>
	<real>575832648.33357596</real>
	<key>PVClustererBringUpState</key>
	<integer>50</integer>
</dict>
</plist>
