<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseMinorVersion</key>
	<integer>1</integer>
	<key>DatabaseVersion</key>
	<integer>112</integer>
	<key>HistoricalMarker</key>
	<dict>
		<key>LastHistoryRowId</key>
		<integer>256</integer>
		<key>LibraryBuildTag</key>
		<string>7B9F2482-05B2-4FA2-BDE1-8DEFCB884FFE</string>
		<key>LibrarySchemaVersion</key>
		<integer>3301</integer>
	</dict>
	<key>LibrarySchemaVersion</key>
	<integer>3301</integer>
	<key>MetaSchemaVersion</key>
	<integer>2</integer>
	<key>SnapshotComplete</key>
	<true/>
	<key>SnapshotCompletedDate</key>
	<date>2018-04-25T20:45:41Z</date>
	<key>SnapshotLastAttemptStartDate</key>
	<date>2018-04-25T20:45:41Z</date>
	<key>SnapshotLastValidated</key>
	<date>2019-06-18T11:55:00Z</date>
	<key>SnapshotTables</key>
	<dict>
		<key>RKAdminData</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>08cca0202e8a6de05428735d60e970873f6aeb4d</string>
		</dict>
		<key>RKAlbum</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>09c8c1931313fad70c4046fd41f44e76ae0942f5</string>
		</dict>
		<key>RKAlbumVersion</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>6cbc6ce91df179c41df2bb1e89fba927279adf13</string>
		</dict>
		<key>RKCustomSortOrder</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>244414fa76ee116855f5c51cfdb6280777933da4</string>
		</dict>
		<key>RKFace</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>447dee46d066f5ffc0583c9d75c5d9d40c710e9c</string>
		</dict>
		<key>RKFaceGroup</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>5aa22426a918d252316cc285764fe149f3c3d344</string>
		</dict>
		<key>RKFacePrint</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>5abc356a56bd168ffc9d52932ba0128dd518ef9e</string>
		</dict>
		<key>RKFolder</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>209e5670924ed6db7ba3e7ce937461f852be4418</string>
		</dict>
		<key>RKImageProxyState</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>7decb7d0a1e436e189c81e405025795769606ad6</string>
		</dict>
		<key>RKImportGroup</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>e8bb37932e47df6bc284cad855dca64c35d0e72d</string>
		</dict>
		<key>RKKeyword</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>c42a9e68193718b1fd2d17651dd3642f312c5abd</string>
		</dict>
		<key>RKMaster</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>876cd7ac1dd2f663a91230db39f0b59982be8d9d</string>
		</dict>
		<key>RKModelResource</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>4fb9b1b896b4d0b5b499f3312cf0288f1dcaeb74</string>
		</dict>
		<key>RKPerson</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>ece7460bae7bf727f3b834271795a2a659217840</string>
		</dict>
		<key>RKSceneInVersion</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>3045b91159c3f953dc30a57a339a5b64a8cd5925</string>
		</dict>
		<key>RKVersion</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>77d8e3061837c3e7f7a5c01c0259103474b5ce08</string>
		</dict>
		<key>RKVersionAnalysisState</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>994a2a5e03c3cd1237e73c5c9fb85e51418fb806</string>
		</dict>
	</dict>
</dict>
</plist>
