<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>256</integer>
	<key>LibraryBuildTag</key>
	<string>7B9F2482-05B2-4FA2-BDE1-8DEFCB884FFE</string>
	<key>LibrarySchemaVersion</key>
	<integer>3301</integer>
</dict>
</plist>
